<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779885451298-iqunbr7tppnt92on1p5q5r0u99t1tskr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779885451298-iqunbr7tppnt92on1p5q5r0u99t1tskr</string>
	<key>API_KEY</key>
	<string>AIzaSyCbUxFEmIcPkaeYH9-XffeSNy6cLUvV2d4</string>
	<key>GCM_SENDER_ID</key>
	<string>779885451298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petfit</string>
	<key>PROJECT_ID</key>
	<string>petfit-119ea</string>
	<key>STORAGE_BUCKET</key>
	<string>petfit-119ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779885451298:ios:ec16b74c129aabcb12927b</string>
</dict>
</plist>